<?xml version="1.0"?>
<config>
	<modules>
		<Popov_Seo>
			<version>0.1.8</version>
		</Popov_Seo>
	</modules>

	<global>

		<blocks>
			<popov_seo>
				<class>Popov_Seo_Block</class>
			</popov_seo>
		</blocks>

		<helpers>
			<popov_seo>
				<class>Popov_Seo_Helper</class>
			</popov_seo>
			<!--<mana_core>
				<rewrite>
					<data>Popov_Seo_Helper_Mana</data>
				</rewrite>
			</mana_core>-->
			<catalog>
				<rewrite>
					<product_compare>Popov_Seo_Helper_Product_Compare</product_compare>
				</rewrite>
			</catalog>
		</helpers>

		<models>
			<popov_seo>
				<class>Popov_Seo_Model</class>
				<resourceModel>popov_seo_resource</resourceModel>
			</popov_seo>
			<popov_seo_resource>
				<class>Popov_Seo_Model_Resource</class>
				<entities>
					<rule>
						<table>popov_seo_rule</table>
					</rule>
					<seoblock>
						<table>popov_seo_block</table>
					</seoblock>
				</entities>
			</popov_seo_resource>
			<!--<core>
				<rewrite>
					<store>Popov_Seo_Model_Store</store>
				</rewrite>
			</core>-->
		</models>

		<resources>
			<popov_seo_setup>
				<setup>
					<module>Popov_Seo</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</popov_seo_setup>
		</resources>

		<events>
            <!-- this name is really important, use this to indicate the layout-render-before event -->
			<!--<controller_action_layout_render_before_catalog_category_view>
				<observers>
					<popov_seo_meta_tags_observer>
						<type>singleton</type>
						<class>Popov_Seo_Model_Observer</class>
						<method>hookToChangeMetaTags</method>
					</popov_seo_meta_tags_observer>
				</observers>
			</controller_action_layout_render_before_catalog_category_view>-->
			<controller_action_layout_render_before>
				<observers>
					<popov_seo_meta_tags_observer>
						<type>singleton</type>
						<class>Popov_Seo_Model_Observer</class>
						<method>hookToChangeMetaTags</method>
					</popov_seo_meta_tags_observer>
				</observers>
			</controller_action_layout_render_before>
			<controller_action_layout_render_before_catalog_product_view>
				<observers>
					<popov_seo_meta_tags_observer>
						<type>singleton</type>
						<class>Popov_Seo_Model_Observer</class>
						<method>hookToChangeMetaTags</method>
					</popov_seo_meta_tags_observer>
				</observers>
			</controller_action_layout_render_before_catalog_product_view>
			<controller_action_predispatch>
				<observers>
					<popov_seo_predispatch_observer>
						<type>singleton</type>
						<class>Popov_Seo_Model_Observer</class>
						<method>controllerActionPredispatch</method>
					</popov_seo_predispatch_observer>
				</observers>
			</controller_action_predispatch>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<popov_seo_postdispatch_observer>
						<type>singleton</type>
						<class>Popov_Seo_Model_Observer</class>
						<method>hookAfterGenerateBlocks</method>
					</popov_seo_postdispatch_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
			<controller_action_layout_render_before_cms_index_index>
				<observers>
					<popov_seo_cms_observer>
						<type>singleton</type>
						<class>Popov_Seo_Model_Observer</class>
						<method>hookTo8080Port</method>
					</popov_seo_cms_observer>
				</observers>
			</controller_action_layout_render_before_cms_index_index>
		</events>

	</global>

	<frontend>
		<routers>
			<popov_seo>
				<use>standard</use>
				<args>
					<module>Popov_Seo</module>
					<frontName>seo</frontName>
				</args>
			</popov_seo>
		</routers>

		<layout>
			<updates>
				<popov_seo>
					<file>popov/seo.xml</file>
				</popov_seo>
			</updates>
		</layout>

		<translate>
			<modules>
				<Popov_Seo>
					<files>
						<default>Popov_Seo.csv</default>
					</files>
				</Popov_Seo>
			</modules>
		</translate>
	</frontend>

	<!-- is important place this code (<adminhtml/>) in config.xml if you wand place this in adminhtml.xml nothing happen -->
	<adminhtml>
		<layout>
			<updates>
				<popov_seo>
					<!--
					We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
					- Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
					-->
					<file>popov/seo.xml</file>
				</popov_seo>
			</updates>
		</layout>
	</adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<popov_seo before="Mage_Adminhtml">Popov_Seo_Adminhtml</popov_seo>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<popov_seo>
        <handlers>
            <product>
                <model>Popov_Seo_Model_MetaTag_Product</model>
            </product>
            <category>
                <model>Popov_Seo_Model_MetaTag_Category</model>
            </category>
            <!--<filters>
                <model>Popov_Seo_Model_MetaTag_Category</model>
            </filters>-->
        </handlers>
    </popov_seo>

	<popov_seo_filterlinks>
		<noindex>
			<empty translate="title" module="popov_seo">
				<title></title>
				<model>popov_seo/filterLinks_noindex_empty</model>
			</empty>
			<several_filters translate="title" module="popov_seo">
				<title>2 or more filters applied</title>
				<model>popov_seo/filterLinks_noindex_filters</model>
			</several_filters>
			<several_options translate="title" module="popov_seo">
				<title>2 or more options in the same filter applied</title>
				<model>popov_seo/filterLinks_noindex_options</model>
			</several_options>
			<slider translate="title" module="popov_seo">
				<title>Slider filter applied</title>
				<model>popov_seo/filterLinks_noindex_slider</model>
			</slider>
			<any translate="title" module="popov_seo">
				<title>Any filter applied</title>
				<model>popov_seo/filterLinks_noindex_any</model>
			</any>
		</noindex>
		<index>
			<empty translate="title" module="popov_seo">
				<title></title>
				<model>popov_seo/filterLinks_index_empty</model>
				<rule></rule>
			</empty>
			<onebrand translate="title" module="popov_seo">
				<title>1 brand filter applied</title>
				<model>popov_seo/filterLinks_index_filters</model>
				<rule>1 brand</rule>
			</onebrand>
			<walker translate="title" module="popov_seo">
				<title>1 walker filter applied</title>
				<model>popov_seo/filterLinks_index_filters</model>
				<rule>1 walker</rule>
			</walker>
			<oneitemtype translate="title" module="popov_seo">
				<title>1 manufacturer filter applied</title>
				<model>popov_seo/filterLinks_index_filters</model>
				<rule>1 manufacturer</rule>
			</oneitemtype>
			<onebrand_oneitemtype translate="title" module="popov_seo">
				<title>1 brand and 1 item_type filters applied</title>
				<model>popov_seo/filterLinks_index_filters</model>
				<rule>1 brand + 1 item_type</rule>
			</onebrand_oneitemtype>
		</index>
	</popov_seo_filterlinks>

</config>